<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

 *{
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;

 }
.notification-correct{
    width: 300px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgba(6, 179, 6, 0.5);
    border-left: 3px solid green;
}

span{
    margin-left: 10px;
}
    </style>
</head>
<body>
    <div class="notification-correct" id="not-correct"><span id="correct-text"></span></div>
    <script src="../script/elements.js"></script>
</body>
</html>